# pip>=22.0.4
# setuptools>=58.1.0

lxml>=5.2.0
numpy>=2.3.2
oauthlib>=3.2.2
pillow>=10.3.0
platformdirs>=4.1.0
PyChromecast>=14.0.7
pyotp>=2.9.0
requests>=2.31.0
requests_oauthlib>=1.3.1
smartinspectpython>=3.0.38
soco>=0.30.6
urllib3>=2.0
zeroconf>=0.132.2

# required for building the project.
twine==5.1.1
wheel==0.41.2
pdoc==14.3.0
