# pip>=22.0.4
# setuptools>=58.1.0

lxml>=5.2.0
oauthlib==3.2.2
platformdirs==4.1.0
smartinspectPython>=3.0.33
requests==2.31.0
requests_oauthlib==1.3.1
# urllib3 version must be less than 2.0.
urllib3>=1.21.1,<1.27
zeroconf>=0.132.2

# required for building the project.
twine==4.0.2
wheel==0.41.2
pdoc==14.3.0
